<div class="skill">
  <div class="field">
    <%= label_tag 'tag' %>
    <%= text_field_tag 'tag[]', (skill ? skill.tag.name : nil), class: 'tag' %>
  </div>
  <div class="field">
    <%= label_tag 'weight' %>
    <%= text_field_tag 'weight[]', (skill ? skill.weight : nil), class: 'weight' %>
  </div>
</div>
<div class="clear"></div>