<%= form_tag :action => 'create' %>     

<div id="dynamicInput">
          Tag <input type="text" name="tag[name][]"> Weight <input type="text" name="skill[weight][]">
     </div>
     <input type="button" value="Add New Tag" onClick="addInput('dynamicInput');">
<%= submit_tag "Create"%>
