<h1>Cards#front</h1>
<p>Find me in app/views/cards/front.html.erb</p>

<%= form_tag :action => 'create' %>
tag name
<%= text_field 'tag','name'%></p>
tag weight
<%= text_field 'skill','weight'%></p>
<%= submit_tag "Create"%>
